html {
  height: 100%;
  width: 100%;
	font-size: 14pt;
}

* {
	box-sizing: border-box;
}

body{
	background-color: #1C2541;
	color: #FFFFFF;
	font-family: Helvetica, Sans-Serif;
	margin: 0px 20% 0px 20%;
}

div{
	padding: 5px;
}

.main-container{
	
}

a:link {
	text-decoration: none;
	color: #5BC0BE;
}

a:visited{
	text-decoration: none;
	color: #5BC0BE;
}

a:hover{
	text-decoration: underline;
	color: #7DE2DF;
}

.main-title{
	font-size: 3.5rem;
	text-align: center;
}

.main-content{
	
}

.item-container{
	margin: 10px;
}

.item-title{
	background-color: #5BC0BE;
	color: #000000;
	font-size: 1.5rem;
}

.item-title a{
	color: #000000;
}

.item-title a:hover{
	color: #0B13AF;
}

.item-content{
	background-color: #3A506B;
	display: flex;
	justify-content: space-around;
}

.item-desc{
	
}

.item-media{
	
}

@media only screen and (max-width: 1000px){
	body{
		margin: 0px 0px 0px 0px;
	}
}