html {
  height: 100%;
  width: 100%;
	font-size: 14pt;
}

* {
	box-sizing: border-box;
}

body{
	background-color: #1C2541;
	color: #FFFFFF;
	font-family: Helvetica, Sans-Serif;
	margin: 0px 20% 0px 20%;
}

div{
	padding: 5px;
}

.main-container{
	
}

a:link {
	text-decoration: none;
	color: #5BC0BE;
}

a:visited{
	text-decoration: none;
	color: #5BC0BE;
}

a:hover{
	text-decoration: underline;
	color: #7DE2DF;
}

.main-title{
	font-size: 3.5rem;
	text-align: center;
}

.main-content{
	
}

.item-container{
	margin: 15px;
	padding: 0px;
}

.item-title{
	background-color: #5BC0BE;
	color: #000000;
	font-size: 1.5rem;
	display: flex;
	justify-content: space-between;
}

.item-title a{
	color: #000000;
}

.item-title a:hover{
	color: #0B13AF;
}

.item-content{
	background-color: #3A506B;
	display: flex;
	justify-content: space-around;
	flex-wrap: wrap;
}

.item-desc{
	min-width: 400px;
}

.item-media{
	
}

.nav {
	background-color: #0B132B;
	display: flex;
	justify-content: space-around;
	color: #5BC0BE;
	margin: 15px;
}

.nav a{
	font-size: 2rem;
}

.hidden{
	display: none !important;
}

@media only screen and (max-width: 1000px){
	body{
		margin: 0px 0px 0px 0px;
	}
}

.material-symbols-outlined {
	font-variation-settings:
	'FILL' 0,
	'wght' 400,
	'GRAD' 0,
	'opsz' 24
}